/* === Global Page Style === */
body {
    font-family: "Trebuchet MS", Verdana, sans-serif;
    background: url("https://www.agoda.com/wp-content/uploads/2024/09/Plaka-area-and-Acropolis-in-AthensGreece.jpg") no-repeat center center fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    color: #000000
    ;
    margin-top: 30px;
}

/* === Form Container === */
form {
    width: 60%;
    margin: 20px auto;
    background: #ffffff;
    padding: 20px 30px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 8px;
}

/* === Fieldset Styling === */
fieldset {
    border: 2px solid #dcdde1;
    border-radius: 5px;
    padding: 5px 20px;
    margin-bottom: 20px;
    background: #fafafa;
}

legend {
    padding: 10 10px;
    font-weight: bold;
    color: #2c3e50;
}

/* === Input & Select Styling === */
p {
    margin-bottom: 15px;
    color: #2c3e50;
}

input[type="text"],
select {
    width: 100%;
    padding: 8px 10px;
    margin-top: 5px;
    border: 1px solid #bdc3c7;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="radio"] {
    margin-right: 5px;
}

/* === Submit Button === */
input[type="submit"] {
    background: #000535;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

input[type="submit"]:hover {
    background: #000000;
}
